$beige: #eedba5;
$orange: #fc9700;
$brown: #bd3800;
$black: black;
$white: white;
$transparent: transparent;

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zilla+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$primary-color-opacity-1: var(--primary-color-opacity-1);
$primary-color-opacity-2: var(--primary-color-opacity-2);

$beige: #eedba5;
$white: #f0f0f0;
$opacity-beige: #eedba570;
$orange: #ff9100;
$yellow: #ffcc00;
$brown: #bd3800;
$opacity-brown: #bd390075;
$opacity-brown-2: #bd39001a;
$opacity-pink: #ffe8ff70;
$opacity-pink-2: #ffe8ffc5;
$pink: #ffe8ffc5;

$balancer: #1a1a1a;
$balancer-secondary: #727272;
$balancer-opacity-1: #1a1a1a75;
$balancer-opacity-2: #1a1a1a10;
$reef: #bd2635;
$reef-secondary: #d37b84;
$reef-opacity-1: #bd263575;
$reef-opacity-2: #bd263510;
$vega: #124ca1;
$vega-secondary: #5e82b9;
$vega-opacity-1: #124ca175;
$vega-opacity-2: #124ca110;
$algorand: #ee9c03;
$algorand-secondary: #e6b966;
$algorand-opacity-1: #ffad0075;
$algorand-opacity-2: #ffad0010;
$opolis: #512791;
$opolis-secondary: #9b7cca;
$opolis-opacity-1: #51279175;
$opolis-opacity-2: #51279110;
$harmony: #217821;
$harmony-secondary: #7ec07e;
$harmony-opacity-1: #21782175;
$harmony-opacity-2: #21782110;
$witnet: #a1a1a1;
$witnet-secondary: #acacac;
$witnet-opacity-1: #acacac75;
$witnet-opacity-2: #acacac10;

html,
body {
  font-family: 'Roboto';
  --primary-color: #{$black};
  background-color: $white;
  touch-action: pan-x pan-y;
}
.opolis {
  --primary-color: #{$opolis};
  --secondary-color: #{$opolis-secondary};
  --primary-color-opacity-1: #{$opolis-opacity-1};
  --primary-color-opacity-2: #{$opolis-opacity-2};
  --vc-nav-background-color: #{$opolis};
  --vc-pgn-active-color: #{$opolis};
  --vc-pgn-background-color: #{$opolis-opacity-1};
}
.harmony {
  --primary-color: #{$harmony};
  --secondary-color: #{$harmony-secondary};
  --primary-color-opacity-1: #{$harmony-opacity-1};
  --primary-color-opacity-2: #{$harmony-opacity-2};
  --vc-nav-background-color: #{$harmony};
  --vc-pgn-active-color: #{$harmony};
  --vc-pgn-background-color: #{$harmony-secondary};
}
.algorand {
  --primary-color: #{$algorand};
  --secondary-color: #{$algorand};
  --primary-color-opacity-1: #{$algorand-opacity-1};
  --primary-color-opacity-2: #{$algorand-opacity-2};
  --vc-nav-background-color: #{$algorand};
  --vc-pgn-active-color: #{$algorand};
  --vc-pgn-background-color: #{$algorand-opacity-1};
}
.vega {
  --primary-color: #{$vega};
  --secondary-color: #{$vega-secondary};
  --primary-color-opacity-1: #{$vega-opacity-1};
  --primary-color-opacity-2: #{$vega-opacity-2};
  --vc-nav-background-color: #{$vega};
  --vc-pgn-active-color: #{$vega};
  --vc-pgn-background-color: #{$vega-opacity-1};
}
.reef {
  --primary-color: #{$reef};
  --secondary-color: #{$reef-secondary};
  --primary-color-opacity-1: #{$reef-opacity-1};
  --primary-color-opacity-2: #{$reef-opacity-2};
  --vc-nav-background-color: #{$reef};
  --vc-pgn-active-color: #{$reef};
  --vc-pgn-background-color: #{$reef-secondary};
}
.balancer {
  --primary-color: #{$balancer};
  --secondary-color: #{$balancer-secondary};
  --primary-color-opacity-1: #{$balancer-opacity-1};
  --primary-color-opacity-2: #{$balancer-opacity-2};
  --vc-pgn-active-color: #{$balancer};
  --vc-nav-background-color: #{$balancer};
  --vc-pgn-background-color: #{$balancer-opacity-1};
}
.witnet {
  --primary-color: #{$witnet};
  --secondary-color: #{$witnet-secondary};
  --primary-color-opacity-1: #{$witnet-opacity-1};
  --primary-color-opacity-2: #{$witnet-opacity-2};
  --vc-nav-background-color: #{$witnet};
  --vc-pgn-active-color: #{$witnet};
  --vc-pgn-background-color: #{$witnet-secondary};
}

.bg-white {
  background-color: $white !important;
}
.text-pink {
  color: $white;
}
.text-brown {
  color: var(--primary-color);
}
.bg-beige-transparent {
  background-color: $opacity-beige !important;
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.border-primary {
  border: 2px solid var(--primary-color) !important;
}
.text-primary {
  color: var(--primary-color);
}

.container {
  text-align: center;
  display: grid;
  row-gap: 16px;
}

.btn {
  font-size: 18px;
}
.small-title {
  font-size: 16px;
  font-weight: bold;
}
.subtitle {
  font-size: 14px;
  width: 216px;
  font-weight: lighter;
  &.label {
    font-size: 12px;
    color: var(--primary-color);
    font-weight: bold;
  }
}
.title {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: var(--primary-color);
}
.text {
  font-size: 20px;
}
.bold {
  font-weight: 600;
}
.label {
  font-size: 12px;
  color: var(--primary-color);
}
.time {
  font-size: 10px;
}
.info {
  font-size: 24px;
  font-weight: 500;
}
svg {
  width: 100%;
  height: 100%;
}

input[type='radio'] {
  &.custom {
    appearance: none;
    background-color: $transparent;
    font: inherit;
    color: currentColor;
    width: 18px;
    height: 18px;
    border: 2px solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
  }
}

input[type='radio'] {
  &.custom::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--primary-color-opacity-1);
  }
}

input[type='radio'] {
  &.custom:checked::before {
    transform: scale(1);
  }
}
