$beige: #eedba5;
$orange: #fc9700;
$brown: #bd3800;
$black: black;
$white: white;
$transparent: transparent;

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zilla+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
@font-face{
  font-family:"JoystixMonospace";
  src: url(../fonts/joystixMonospace.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap');

$screen: #92A573;
$dark-screen: #373B32;
$screen-highlight: #373B3213;
$witnet-color: #66B7B2;
$black: #292929;
$black-secondary: #727272;
$black-base-color: #fff;
$black-main-color: #292929;
$black-opacity-1: #1a1a1a75;
$black-opacity-2: #1a1a1a3a;
$red-base-color: #fff;
$red-main-color: #bd2635;
$blue-base-color: #fff;
$blue-main-color: #124ca1;
$yellow-base-color: #fff;
$yellow-main-color: #F18944;
$green-base-color: #fff;
$green-main-color: #488B62;
$white-base-color: #000;
$white-main-color: #fff;

html,
body {
  font-family: 'Source Code Pro', monospace;
  --primary-color: #{$black};
  --primary-color-opacity-1: #{$black-opacity-1};
  --primary-color-opacity-2: #{$black-opacity-2};
  --vc-pgn-active-color: #{$black};
  --vc-nav-background-color: #{$black};
  --vc-pgn-background-color: #{$black-opacity-1};
  background-color: $white;
  touch-action: pan-x pan-y;
}
.title {
  font-family: JoystixMonospace, sans-serif;
}
.green {
  --main-color: #{$green-main-color};
  --base-color: #{$green-base-color};
}
.yellow {
  --main-color: #{$yellow-main-color};
  --base-color: #{$yellow-base-color};
}
.blue {
  --main-color: #{$blue-main-color};
  --base-color: #{$blue-base-color};
}
.red {
  --main-color: #{$red-main-color};
  --base-color: #{$red-base-color};
}
.black {
  --main-color: #{$black-main-color};
  --base-color: #{$black-base-color};
}

.bg-white {
  background-color: $white !important;
}
.text-pink {
  color: $white;
}
.text-brown {
  color: var(--primary-color);
}
.bg-beige-transparent {
  background-color: $white !important;
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.border-primary {
  border: 2px solid var(--primary-color) !important;
}
.text-primary {
  color: var(--primary-color);
}

.container {
  text-align: center;
  display: grid;
  row-gap: 16px;
}

.bold {
  background: $dark-screen;
  color: $screen;
  border-radius: 4px;
  padding: 2px 4px;
}

.btn {
  font-size: 18px;
}
.small-title {
  font-size: 16px;
  font-weight: bold;
}
.subtitle {
  font-size: 14px;
  width: 216px;
  font-weight: lighter;
}
.title {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color);
}
.text {
  font-size: 20px;
}
.bold {
  font-weight: 600;
}
.label {
  font-size: 12px;
  color: var(--primary-color);
}
.time {
  font-size: 10px;
}
.info {
  font-size: 24px;
  font-weight: 500;
}
svg {
  width: 100%;
  height: 100%;
}

input[type='radio'] {
  &.custom {
    appearance: none;
    background-color: $transparent;
    font: inherit;
    color: currentColor;
    width: 18px;
    height: 18px;
    border: 2px solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
  }
}

input[type='radio'] {
  &.custom::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--primary-color-opacity-1);
  }
}

input[type='radio'] {
  &.custom:checked::before {
    transform: scale(1);
  }
}
